<a href="https://colab.research.google.com/github/tackulus/204426/blob/main/Lab_02_610510531.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Workshop 2: Pandas Library (2)**
**คำสั่ง** 

1.   ศึกษาวิธีการใช้งาน Pandas Library เบื้องต้นต่อไปนี้
2.   ทดลองใช้งานฟังก์ชันใน Pandas Library ตามคำสั่งปฏิบัติการแต่ละข้อ
3.   ตั้งชื่อไฟล์ python notebook นี้ในรูปแบบ Lab_02_XXXXXXXXX.ipynb โดย XXXXXXXXX คือ รหัสนักศึกษา
4.   ทำการดาวน์โหลดและส่งไฟล์ Lab_02_XXXXXXXXX.ipynb ที่เว็บไซต์ http://hw.cs.science.cmu.ac.th

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.DataFrame({
    "A": ["A0", "A1", "A2", "A3"],
    "B": ["B0", "B1", "B2", "B3"],
    "C": ["C0", "C1", "C2", "C3"],
    "D": ["D0", "D1", "D2", "D3"],
},index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({
    "A": ["A4", "A5", "A6", "A7"],
    "B": ["B4", "B5", "B6", "B7"],
    "C": ["C4", "C5", "C6", "C7"],
    "D": ["D4", "D5", "D6", "D7"],
},index=[4, 5, 6, 7])

In [ ]:
df3 = pd.DataFrame({
    "A": ["A8", "A9", "A10", "A11"],
    "B": ["B8", "B9", "B10", "B11"],
    "C": ["C8", "C9", "C10", "C11"],
},index=[8, 9, 10, 11])

**การรวม data frames โดยการเพิ่มแถวข้อมูล**

In [ ]:
# concatinate by row 
frames = [df1, df2, df3]
result = pd.concat(frames) 
result

In [ ]:
# concatinate by row with key
result = pd.concat(frames, keys=["x", "y", "z"])
result

In [ ]:
df4 = pd.DataFrame({
    "B": ["B2-df4", "B3-df4", "B6-df4", "B7-df4"],
    "D": ["D2-df4", "D3-df4", "D6-df4", "D7-df4"],
    "F": ["F2-df4", "F3-df4", "F6-df4", "F7-df4"],
},index=[2, 3, 6, 7])

In [ ]:
# concatinate by row with ignore index
result = pd.concat([df1, df4], ignore_index=True, sort=False)
result

**การรวม data frames โดยการเพิ่มคอลัมน์**

In [ ]:
result = pd.concat([df1, df4], axis=1)
result

ปฏิบัติการข้อ 1) จงรวมชุดข้อมูล adult ที่ถูกแยกออกเป็นส่วนๆ ได้แก่ d1  d2  d3  d4  และ d5 ให้อยู่ในตัวแปร data frames เดียว

In [ ]:
data = pd.read_csv("adult.csv", na_values="?")
d1 = data.loc[0:1000,'age':'sex']
d2 = data.loc[1001:,'age':'sex']
d3 = data.loc[0:1000,'capital.gain':'native.country']
d4 = data.loc[1001:,'capital.gain':'native.country']
d5 = data.loc[:,['income']]

In [ ]:
# Answer here!

**การเพิ่มแถวข้อมูลในตัวแปร data frame**

In [ ]:
# append row without specify its key
for i in range(0,4):
  df1 = df1.append({'A': 'A'+str(i), 'B': 'B'+str(i), 'C':'C'+str(i), 'D':'D'+str(i)},ignore_index=True)
df1

In [ ]:
# append row with specify its key
for i in range(0,4):
  df2 = df2.append(pd.DataFrame({'A': 'A'+str(i), 'B': 'B'+str(i), 'C':'C'+str(i), 'D':'D'+str(i)},index=[i]))
df2

ปฏิบัติการข้อ 2) จงเพิ่มข้อมูลจำนวน 10 ข้อมูลต่อไปนี้ ลงในตัวแปร data frame ชื่อ bill


1.   'The Riddler', 'Restaurant', 29.02
2.   'Smitten Ice Cream', 'Restaurant', 98.60
3.   'Suppenkuche', 'Restaurant', 40.23
4.   'Maven', 'bar', 45.20

In [ ]:
bill = pd.DataFrame([('Foreign Cinema', 'Restaurant', 289.0),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', 'bar', 25.30)],
           columns=('name', 'type', 'AvgBill'))
bill

In [ ]:
nameList = ['The Riddler','Smitten Ice Cream','Suppenkuche','Maven']
typeList = ['Restaurant',  'Restaurant',  'Restaurant', 'bar']
AvgBill = [29.02,98.60,40.23,45.20]

In [ ]:
# Answer here!

**การลบแถวข้อมูล**

In [ ]:
# delete a single row by index value 0
df1 = df1.drop(labels=0, axis=0)
df1

In [ ]:
# delete a few specified rows
df1 = df1.drop(labels=[1,3], axis=0)
df1

ปฏิบัติการข้อ 3) จงลบข้อมูลแถว*เลขคู่*ทั้งหมดจากตัวแปร data

In [ ]:
# Answer here!

**การลบคอลัมน์ของตัวแปร data frame**

In [ ]:
# Delete a single column from the DataFrame
df1 = df1.drop(labels="A", axis=1)
df1

In [ ]:
# Delete multiple columns from the DataFrame
df1 = df1.drop(labels=["C", "D"], axis=1)
df1

In [ ]:
# Delete a single named column from the DataFrame
df2 = df2.drop(columns="A")
df2

In [ ]:
# Delete a column by column number
df2.drop(columns=df2.columns[3], inplace=True)
df2

ปฏิบัติการข้อ 4) จงลบคอลัมน์ข้อมูล marital.status  relationship  และ native.country ของตัวแปร data

In [ ]:
# Answer here!

**การเปลี่ยนชื่อคอลัมน์**

In [ ]:
df3.rename(columns = {"A":"AA", "B":"BB"}, inplace = True)
df3

ปฏิบัติการข้อ 5) จงเปลี่ยนชื่อคอลัมน์ของตัวแปร data ที่มีสัญลักษณ์ . ในชื่อคอลัมน์ โดยเปลี่ยนจากเครื่องหมาย . เป็นเครื่องหมาย _

In [ ]:
# Answer here!

**การเลือกตัวแปรหนึ่งเป็นค่า index ของข้อมูล**

In [ ]:
# set a single index
df3.set_index("C",inplace = True)
df3

In [ ]:
# set multiple indexes
df4.set_index(["B","D"],inplace = True)
df4

ปฏิบัติการข้อ 6) จงตั้งค่าให้ตัวแปร fnlwgt เป็น index ของตัวแปร data

In [ ]:
# Answer here!