<a href="https://colab.research.google.com/github/tackulus/204426/blob/main/Lab_05_610510531.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Workshop 5: Data Quality**
**คำสั่ง**

1.   ศึกษาวิธีการตรวจสอบคุณภาพของข้อมูลชุดข้อมูล transaction data 
2.   ทำการตรวจสอบคุณภาพของข้อมูล ชุดข้อมูล customer data  โดยทำปฏิบัติการแต่ละข้อ
3.   ตั้งชื่อไฟล์ python notebook นี้ในรูปแบบ Lab_05_XXXXXXXXX.ipynb โดย XXXXXXXXX คือ รหัสนักศึกษา
4.   ทำการดาวน์โหลดและส่งไฟล์ Lab_05_XXXXXXXXX.ipynb ที่เว็บไซต์ http://hw.cs.science.cmu.ac.th

In [1]:
import pandas as pd
import numpy as np

In [2]:
%%capture
!wget -O customer_data.csv \
    https://raw.githubusercontent.com/tackulus/204426/main/dataset/customer_data.csv

!wget -O transaction_data.csv \
    https://raw.githubusercontent.com/tackulus/204426/main/dataset/transaction_data.csv

In [3]:
transaction_data = pd.read_csv("transaction_data.csv", na_values=-999)
transaction_data

   txn_id cust_id  price process_date
0       1       v   89.0     1/5/2021
1       2       y   60.0     1/5/2021
2       3       m   55.0     1/5/2021
3       4       s    NaN     1/5/2021
4       5       z   50.0     1/5/2021
5       6       s   41.0     2/5/2021
6       7       s    NaN    15/5/2021
7       8       e   23.0     1/5/2021
8       9       n   12.0     1/5/2021
9      10       x   87.0     1/5/2021

# Missing values

In [4]:
# detect missing values
missingValues = transaction_data.isna()
print(missingValues)

   txn_id  cust_id  price  process_date
0   False    False  False         False
1   False    False  False         False
2   False    False  False         False
3   False    False   True         False
4   False    False  False         False
5   False    False  False         False
6   False    False   True         False
7   False    False  False         False
8   False    False  False         False
9   False    False  False         False

In [5]:
# count the number of missing data
num_missing = missingValues.values.sum()
print(num_missing)

2

In [6]:
# count the number of rows having missing data
row_missing = missingValues.sum(axis=1)
print(row_missing)
num_row_missing = np.count_nonzero(row_missing)
print("There are %d rows contain missing values"%(num_row_missing))

0    0
1    0
2    0
3    1
4    0
5    0
6    1
7    0
8    0
9    0
dtype: int64
There are 2 rows contain missing values

In [7]:
# count the number of columns having missing data
col_missing = missingValues.sum()
print(col_missing)
num_col_missing = np.count_nonzero(col_missing)
print("There are %d columns contain missing values"%(num_col_missing))

txn_id          0
cust_id         0
price           2
process_date    0
dtype: int64
There are 1 columns contain missing values

# Duplicated records

In [8]:
transaction_data[transaction_data.duplicated(['cust_id'])]

   txn_id cust_id  price process_date
5       6       s   41.0     2/5/2021
6       7       s    NaN    15/5/2021

In [9]:
transaction_data[transaction_data.duplicated(['txn_id'])]

Empty DataFrame
Columns: [txn_id, cust_id, price, process_date]
Index: []

In [10]:
transaction_data[transaction_data.duplicated(['txn_id','cust_id'])]

Empty DataFrame
Columns: [txn_id, cust_id, price, process_date]
Index: []

ปฏิบัติการข้อ 1) จงอ่านชุดข้อมูล Customer Data จากไฟล์ customer_data.csv โดยเก็บไว้ในตัวแปล customer_data (ข้อมูลสูญหาย ถูกแทนด้วยช่องว่าง)

In [11]:
# Answer here!
customer_data = pd.read_csv("customer_data.csv", na_values=" ")
customer_data

  cust_id   age wealth_segment process_date
0       e  44.0            NaN   2020-01-05
1       m  30.0         medium   2020-01-05
2       n  29.0           poor   2020-01-05
3       s  64.0           rich   2020-01-05
4       v   NaN         medium   2020-01-05
5       x  40.0           poor   2020-01-05
6       y  41.0           rich   2020-01-05
7       z  43.0           rich   2020-01-05
8       s -12.0           rich   2020-01-05
9       z  54.0           rich   2021-01-05

ปฏิบัติการข้อ 2) จงนับจำนวนข้อมูลสูญหายทั้งหมดในชุดข้อมูล Customer Data

In [12]:
# Answer here!
missingValues = customer_data.isna()
missingValues.values.sum()

2

ปฏิบัติการข้อ 3) จงนับจำนวนคอลัมน์ในชุดข้อมูล Customer Data ที่มีข้อมูลสูญหาย

In [13]:
col_missing = missingValues.sum()
print(col_missing)
print(f"# of columns which contain missing values: {np.count_nonzero(col_missing)}")

cust_id           0
age               1
wealth_segment    1
process_date      0
dtype: int64
# of columns which contain missing values: 2

ปฏิบัติการข้อ 4) จงนับจำนวนแถวข้อมูลในชุดข้อมูล Customer Data ที่มีข้อมูลสูญหาย

In [14]:
# Answer here!
row_missing = missingValues.sum(axis=1)
print(row_missing)
print(f"# of rows which contain missing values: {np.count_nonzero(row_missing)}")

0    1
1    0
2    0
3    0
4    1
5    0
6    0
7    0
8    0
9    0
dtype: int64
# of rows which contain missing values: 2

ปฏิบัติการข้อ 5) จงหาลูกค้าที่มีการบันทึกข้อมูลในชุดข้อมูล Customer Data ในหลายระเบียนข้อมูล

In [15]:
# Answer here!
customer_data[customer_data.duplicated(['cust_id'])]

  cust_id   age wealth_segment process_date
8       s -12.0           rich   2020-01-05
9       z  54.0           rich   2021-01-05

ปฏิบัติการข้อ 6) จงหาลูกค้าที่มีค่าข้อมูลอายุ (age) ไม่อยู่ในขอบเขตข้อมูลที่ถูกต้อง

In [16]:
# Answer here!
customer_data[(customer_data.age > 120) | (customer_data.age <= 0)]

  cust_id   age wealth_segment process_date
8       s -12.0           rich   2020-01-05

ปฏิบัติการข้อ 7) จงหาลูกค้าที่มีค่าข้อมูลอายุ (age) ผิดปรกติ ไม่สอดคล้องความเป็นจริง

In [17]:
# Answer here!
from datetime import timedelta

excluded_age = customer_data[(customer_data.age <= 120) | (customer_data.age > 0)]
dup_cust_id = excluded_age[excluded_age.duplicated(['cust_id'])].cust_id
customer_data['process_date'] = pd.to_datetime(customer_data['process_date'], format="%Y-%d-%m")

invalid_idx = []
for id in dup_cust_id:
    age_diff = customer_data[customer_data.cust_id == id].age.diff().dropna()
    date_diff = customer_data[customer_data.cust_id == id].process_date.diff().dropna() // timedelta(days=365)
    for age, date in zip(age_diff.items(), date_diff.items()):
        idx = age[0]
        if age[1] != date[1]:
            invalid_idx.append(idx)

customer_data.loc[invalid_idx]

  cust_id   age wealth_segment process_date
8       s -12.0           rich   2020-05-01
9       z  54.0           rich   2021-05-01

# Expand customer information in transaction data using information in customer data

In [18]:
# Expand customer information in transaction data
txn_with_cust = transaction_data.merge(customer_data, on='cust_id', how='left')
txn_with_cust

    txn_id cust_id  price process_date_x   age wealth_segment process_date_y
0        1       v   89.0       1/5/2021   NaN         medium     2020-05-01
1        2       y   60.0       1/5/2021  41.0           rich     2020-05-01
2        3       m   55.0       1/5/2021  30.0         medium     2020-05-01
3        4       s    NaN       1/5/2021  64.0           rich     2020-05-01
4        4       s    NaN       1/5/2021 -12.0           rich     2020-05-01
5        5       z   50.0       1/5/2021  43.0           rich     2020-05-01
6        5       z   50.0       1/5/2021  54.0           rich     2021-05-01
7        6       s   41.0       2/5/2021  64.0           rich     2020-05-01
8        6       s   41.0       2/5/2021 -12.0           rich     2020-05-01
9        7       s    NaN      15/5/2021  64.0           rich     2020-05-01
10       7       s    NaN      15/5/2021 -12.0           rich     2020-05-01
11       8       e   23.0       1/5/2021  44.0            NaN     2020-05-01
12       9       n   12.0       1/5/2021  29.0           poor     2020-05-01
13      10       x   87.0       1/5/2021  40.0           poor     2020-05-01

ปฏิบัติการข้อ 8) จากการรวมตารางข้อมูล transaction_data และ customer_data ข้างต้นจะพบว่ารูปแบบการแทนค่าตัวแปร process_date_x และ process_date_y ไม่สอดคล้องกัน จงทำให้รูปแบบการแทนค่าตัวแปร process_date_x และ process_date_y สอดคล้องกัน

In [19]:
# Answer here!
txn_with_cust['process_date_x'] = pd.to_datetime(txn_with_cust['process_date_x'], format="%d/%m/%Y")
txn_with_cust

    txn_id cust_id  price process_date_x   age wealth_segment process_date_y
0        1       v   89.0     2021-05-01   NaN         medium     2020-05-01
1        2       y   60.0     2021-05-01  41.0           rich     2020-05-01
2        3       m   55.0     2021-05-01  30.0         medium     2020-05-01
3        4       s    NaN     2021-05-01  64.0           rich     2020-05-01
4        4       s    NaN     2021-05-01 -12.0           rich     2020-05-01
5        5       z   50.0     2021-05-01  43.0           rich     2020-05-01
6        5       z   50.0     2021-05-01  54.0           rich     2021-05-01
7        6       s   41.0     2021-05-02  64.0           rich     2020-05-01
8        6       s   41.0     2021-05-02 -12.0           rich     2020-05-01
9        7       s    NaN     2021-05-15  64.0           rich     2020-05-01
10       7       s    NaN     2021-05-15 -12.0           rich     2020-05-01
11       8       e   23.0     2021-05-01  44.0            NaN     2020-05-01
12       9       n   12.0     2021-05-01  29.0           poor     2020-05-01
13      10       x   87.0     2021-05-01  40.0           poor     2020-05-01