<a href="https://colab.research.google.com/github/tackulus/204426/blob/main/Lab_01_610510531.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Workshop 1: Pandas Library (1)**
**คำสั่ง** 

1.   ศึกษาวิธีการใช้งาน Pandas Library เบื้องต้นต่อไปนี้
2.   ทดลองใช้งานฟังก์ชันใน Pandas Library ตามคำสั่งปฏิบัติการแต่ละข้อ
3.   ตั้งชื่อไฟล์ python notebook นี้ในรูปแบบ Lab_01_XXXXXXXXX.ipynb โดย XXXXXXXXX คือ รหัสนักศึกษา
4.   ทำการดาวน์โหลดและส่งไฟล์ Lab_01_XXXXXXXXX.ipynb ที่เว็บไซต์ http://hw.cs.science.cmu.ac.th

In [1]:
import pandas as pd
import numpy as np

In [2]:
%%capture
!wget -O adult.csv \
    https://raw.githubusercontent.com/tackulus/204426/main/dataset/adult.csv

**การสร้าง data frames โดยใช้ pandas library**

In [3]:
## Creating a DataFrames
# Specify values for each column.
df = pd.DataFrame({"a" : [4 ,5, 6],
                   "b" : [7, 8, 9],
                   "c" : [10, 11, 12]},
                  index = [1, 2, 3])
df.head()

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
# Specify values for each row
df = pd.DataFrame([[4, 7, 10],
                   [5, 8, 11],
                   [6, 9, 12]],
                  columns=['a', 'b', 'c'],index=[1, 2, 3])
df.head()

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

ปฏิบัติการข้อ 1) จงสร้าง data frames ที่จัดเก็บตัวแปร 4 ตัวแปร คือ ชื่อ(First Name) สกุล (Last Name) คณะ (Faculty) และ GPA ของข้อมูลนักศึกษา 5 คน ต่อไปนี้


1.   ANJIRA LUANGSAN   Science   GPA: 3.24
2.   NATTAWUT KANYA   Engineering   GPA: 2.98
3.   BENYAPHA BUABAN   Medicine   GPA: 3.67
4.   THITILUK MORASIL    Science   GPA: 3.05
5.   VIPUT UEAPITAKSAKUL   Social Science   GPA: 2.00

In [5]:
# Answer here
df = pd.DataFrame([['ANJIRA', 'LUANGSAN', 'Science', 3.24],
                   ['NATTAWUT', 'KANYA', 'Engineering', 2.98],
                   ['BENYAPHA', 'BUABAN', 'Medicine', 3.67],
                   ['THITILUK', 'MORASIL', 'Science', 3.05]],
                  columns=['First Name', 'Last Name', 'Faculty', 'GPA'])
df

  First Name Last Name      Faculty   GPA
0     ANJIRA  LUANGSAN      Science  3.24
1   NATTAWUT     KANYA  Engineering  2.98
2   BENYAPHA    BUABAN     Medicine  3.67
3   THITILUK   MORASIL      Science  3.05

**การอ่านข้อมูลจากไฟล์**

In [6]:
## Read data from CVS file
data = pd.read_csv("adult.csv")
data.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   90         ?   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66         ?  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

**การสอบถามข้อมูล**

In [7]:
## Query observations 
# Query by conditions
selectedData = data[data.age >= 60]
selectedData.head()

   age    workclass  fnlwgt  ... hours.per.week  native.country income
0   90            ?   77053  ...             40   United-States  <=50K
1   82      Private  132870  ...             18   United-States  <=50K
2   66            ?  186061  ...             40   United-States  <=50K
7   74    State-gov   88638  ...             20   United-States   >50K
8   68  Federal-gov  422013  ...             40   United-States  <=50K

[5 rows x 15 columns]

In [8]:
selectedData = data[(data.age >= 60) & (data['sex'] == 'Male')]
selectedData.head()

    age         workclass  fnlwgt  ... hours.per.week  native.country income
24   61                 ?  135285  ...             32   United-States  <=50K
34   60  Self-emp-not-inc  205246  ...             50   United-States   >50K
44   71                 ?  100820  ...             15   United-States  <=50K
46   71           Private  110380  ...             52   United-States  <=50K
47   73  Self-emp-not-inc  233882  ...             40         Vietnam  <=50K

[5 rows x 15 columns]

In [9]:
# Query by indexes
data.iloc[10:20]

    age         workclass  fnlwgt  ... hours.per.week  native.country income
10   45           Private  172274  ...             35   United-States   >50K
11   38  Self-emp-not-inc  164526  ...             45   United-States   >50K
12   52           Private  129177  ...             20   United-States   >50K
13   32           Private  136204  ...             55   United-States   >50K
14   51                 ?  172175  ...             40   United-States   >50K
15   46           Private   45363  ...             40   United-States   >50K
16   45           Private  172822  ...             76   United-States   >50K
17   57           Private  317847  ...             50   United-States   >50K
18   22           Private  119592  ...             40               ?   >50K
19   34           Private  203034  ...             50   United-States   >50K

[10 rows x 15 columns]

In [10]:
# Select and order top n entries
data.nlargest(10, 'age')

      age         workclass  fnlwgt  ... hours.per.week  native.country income
0      90                 ?   77053  ...             40   United-States  <=50K
199    90           Private   51744  ...             40   United-States  <=50K
1739   90         Local-gov  227796  ...             60   United-States   >50K
1742   90           Private   87372  ...             72   United-States   >50K
2241   90  Self-emp-not-inc  155981  ...             50   United-States  <=50K
2296   90           Private   46786  ...             15   United-States   >50K
2299   90           Private  175491  ...             50         Ecuador   >50K
2947   90         Local-gov  153602  ...             40   United-States  <=50K
3776   90  Self-emp-not-inc   82628  ...             12   United-States  <=50K
3854   90         Local-gov  214594  ...             40   United-States  <=50K

[10 rows x 15 columns]

In [11]:
# Select and order bottom n entries
data.nsmallest(5, 'age')

      age workclass  fnlwgt  ... hours.per.week  native.country income
1092   17   Private  148522  ...             15   United-States  <=50K
1093   17   Private   93235  ...             25   United-States  <=50K
1116   17   Private  184924  ...             15   United-States  <=50K
1118   17   Private  116626  ...             18   United-States  <=50K
1235   17   Private  209949  ...             12   United-States  <=50K

[5 rows x 15 columns]

ปฏิบัติการข้อ 2)  จงสอบถามข้อมูลที่ค่าตัวแปร occupation มีค่าเท่ากับ ?

In [12]:
# Answer here
data[data.occupation=='?']

       age workclass  fnlwgt  ... hours.per.week  native.country income
0       90         ?   77053  ...             40   United-States  <=50K
2       66         ?  186061  ...             40   United-States  <=50K
14      51         ?  172175  ...             40   United-States   >50K
24      61         ?  135285  ...             32   United-States  <=50K
44      71         ?  100820  ...             15   United-States  <=50K
...    ...       ...     ...  ...            ...             ...    ...
32533   35         ?  320084  ...             55   United-States   >50K
32534   30         ?   33811  ...             99   United-States  <=50K
32541   71         ?  287372  ...             10   United-States   >50K
32543   41         ?  202822  ...             32   United-States  <=50K
32544   72         ?  129912  ...             25   United-States  <=50K

[1843 rows x 15 columns]

ปฏิบัติการข้อ 3) จงสอบถามข้อมูลของผู้หญิงทั้งหมด

In [13]:
# Answer here
data[data.sex=='Female']

       age  workclass  fnlwgt  ... hours.per.week  native.country income
0       90          ?   77053  ...             40   United-States  <=50K
1       82    Private  132870  ...             18   United-States  <=50K
2       66          ?  186061  ...             40   United-States  <=50K
3       54    Private  140359  ...             40   United-States  <=50K
4       41    Private  264663  ...             40   United-States  <=50K
...    ...        ...     ...  ...            ...             ...    ...
32547   39  Local-gov  111499  ...             20   United-States   >50K
32548   37    Private  198216  ...             40   United-States  <=50K
32550   43  State-gov  255835  ...             40   United-States  <=50K
32557   27    Private  257302  ...             38   United-States  <=50K
32559   58    Private  151910  ...             40   United-States  <=50K

[10771 rows x 15 columns]

ปฏิบัติการข้อ 4) จงสอบถามข้อมูลของผู้หญิงทั้งหมดที่มีผิวขาว

In [14]:
# Answer here
data[(data.sex=='Female') & (data.race=='White')]

       age  workclass  fnlwgt  ... hours.per.week  native.country income
0       90          ?   77053  ...             40   United-States  <=50K
1       82    Private  132870  ...             18   United-States  <=50K
3       54    Private  140359  ...             40   United-States  <=50K
4       41    Private  264663  ...             40   United-States  <=50K
5       34    Private  216864  ...             45   United-States  <=50K
...    ...        ...     ...  ...            ...             ...    ...
32547   39  Local-gov  111499  ...             20   United-States   >50K
32548   37    Private  198216  ...             40   United-States  <=50K
32550   43  State-gov  255835  ...             40   United-States  <=50K
32557   27    Private  257302  ...             38   United-States  <=50K
32559   58    Private  151910  ...             40   United-States  <=50K

[8642 rows x 15 columns]

ปฏิบัติการข้อ 5) จงสอบถามข้อมูลของคนที่มีชั่วโมงทำงานมากที่สุด 10 อันดับแรก

In [15]:
# Answer here
n = len( data[data['hours.per.week']==99] )
print(f'By the way, the number of employees with 99 hours/week is : {n}.')
data.nlargest(10, 'hours.per.week')

By the way, the number of employees with 99 hours/week is : 85.

      age         workclass  fnlwgt  ... hours.per.week  native.country income
92     39           Private  348521  ...             99   United-States   >50K
98     39           Private  237713  ...             99   United-States   >50K
409    38           Private  111499  ...             99   United-States   >50K
484    31           Private  147284  ...             99   United-States   >50K
730    43           Private  266324  ...             99   United-States   >50K
1881   39           Private   70995  ...             99   United-States   >50K
2023   45           Private  390368  ...             99   United-States   >50K
2103   40           Private   25005  ...             99   United-States   >50K
2971   73  Self-emp-not-inc  102510  ...             99   United-States   >50K
3275   49           Private  173115  ...             99   United-States  <=50K

[10 rows x 15 columns]

ปฏิบัติการข้อ 6) จงเลือกข้อมูลในแถวข้อมูลที่ 30,000 ถึงข้อมูลแถวสุดท้าย

In [16]:
# Answer here
data[30000:]

       age workclass  fnlwgt  ... hours.per.week  native.country income
30000   18   Private  122775  ...             35   United-States  <=50K
30001   30   Private  329425  ...             48   United-States  <=50K
30002   61   Private  178312  ...             42   United-States  <=50K
30003   21   Private  241951  ...             45   United-States  <=50K
30004   53   Private  130143  ...             48   United-States  <=50K
...    ...       ...     ...  ...            ...             ...    ...
32556   22   Private  310152  ...             40   United-States  <=50K
32557   27   Private  257302  ...             38   United-States  <=50K
32558   40   Private  154374  ...             40   United-States   >50K
32559   58   Private  151910  ...             40   United-States  <=50K
32560   22   Private  201490  ...             20   United-States  <=50K

[2561 rows x 15 columns]

**การเลือกตัวแปร**

In [17]:
## Slice Variables (Column)
# Select columns with specific names
data[['age','education','education.num']]

       age     education  education.num
0       90       HS-grad              9
1       82       HS-grad              9
2       66  Some-college             10
3       54       7th-8th              4
4       41  Some-college             10
...    ...           ...            ...
32556   22  Some-college             10
32557   27    Assoc-acdm             12
32558   40       HS-grad              9
32559   58       HS-grad              9
32560   22       HS-grad              9

[32561 rows x 3 columns]

In [18]:
# Select columns with positions
data.iloc[:,[1,2]]

      workclass  fnlwgt
0             ?   77053
1       Private  132870
2             ?  186061
3       Private  140359
4       Private  264663
...         ...     ...
32556   Private  310152
32557   Private  257302
32558   Private  154374
32559   Private  151910
32560   Private  201490

[32561 rows x 2 columns]

In [19]:
# Select all columns between two columns
data.loc[:,'education':'occupation']

          education  education.num      marital.status         occupation
0           HS-grad              9             Widowed                  ?
1           HS-grad              9             Widowed    Exec-managerial
2      Some-college             10             Widowed                  ?
3           7th-8th              4            Divorced  Machine-op-inspct
4      Some-college             10           Separated     Prof-specialty
...             ...            ...                 ...                ...
32556  Some-college             10       Never-married    Protective-serv
32557    Assoc-acdm             12  Married-civ-spouse       Tech-support
32558       HS-grad              9  Married-civ-spouse  Machine-op-inspct
32559       HS-grad              9             Widowed       Adm-clerical
32560       HS-grad              9       Never-married       Adm-clerical

[32561 rows x 4 columns]

In [20]:
# Select columns by regular expression
data.filter(regex='^capital.')

       capital.gain  capital.loss
0                 0          4356
1                 0          4356
2                 0          4356
3                 0          3900
4                 0          3900
...             ...           ...
32556             0             0
32557             0             0
32558             0             0
32559             0             0
32560             0             0

[32561 rows x 2 columns]

ปฏิบัติการข้อ 7) จงเลือกตัวแปรที่ขึ้นต้นด้วยคำว่า education

In [21]:
# Answer here
data.filter(regex='education')

          education  education.num
0           HS-grad              9
1           HS-grad              9
2      Some-college             10
3           7th-8th              4
4      Some-college             10
...             ...            ...
32556  Some-college             10
32557    Assoc-acdm             12
32558       HS-grad              9
32559       HS-grad              9
32560       HS-grad              9

[32561 rows x 2 columns]

ปฏิบัติการข้อ 8) จงเลือกข้อมูลของคนที่มีชั่วโมงทำงานน้อยกว่าหรือเท่ากับ 15 ชั่วโมง และนำมาเฉพาะค่าตัวแปร education และ age

In [22]:
# Answer here
data[data['hours.per.week']<=15][['education', 'age']]

          education  age
44          HS-grad   71
62     Some-college   44
76        Assoc-voc   41
114       Doctorate   72
124       Bachelors   70
...             ...  ...
32500       HS-grad   82
32527    Assoc-acdm   26
32528     Assoc-voc   81
32541     Doctorate   71
32554       Masters   32

[1381 rows x 2 columns]

**การเข้าถึงและแก้ไขข้อมูล**

In [23]:
## access data
print(data.loc[15])
print(data.loc[0:5,['age','sex']])

age                           46
workclass                Private
fnlwgt                     45363
education            Prof-school
education.num                 15
marital.status          Divorced
occupation        Prof-specialty
relationship       Not-in-family
race                       White
sex                         Male
capital.gain                   0
capital.loss                2824
hours.per.week                40
native.country     United-States
income                      >50K
Name: 15, dtype: object
   age     sex
0   90  Female
1   82  Female
2   66  Female
3   54  Female
4   41  Female
5   34  Female

In [24]:
## Maniplate data
data.loc[0,['age']] = 50
data.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   50         ?   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66         ?  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

In [25]:
data.loc[data.workclass == '?',['workclass']] = np.NaN
data.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   50       NaN   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66       NaN  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

ปฏิบัติการข้อ 9) จงแทนค่าตัวแปร occupation ที่มีค่าเท่ากับ ? ด้วยค่า NaN

In [26]:
# Answer here
data.loc[data.occupation=='?',['occupation']] = np.NaN
data

       age workclass  fnlwgt  ... hours.per.week  native.country income
0       50       NaN   77053  ...             40   United-States  <=50K
1       82   Private  132870  ...             18   United-States  <=50K
2       66       NaN  186061  ...             40   United-States  <=50K
3       54   Private  140359  ...             40   United-States  <=50K
4       41   Private  264663  ...             40   United-States  <=50K
...    ...       ...     ...  ...            ...             ...    ...
32556   22   Private  310152  ...             40   United-States  <=50K
32557   27   Private  257302  ...             38   United-States  <=50K
32558   40   Private  154374  ...             40   United-States   >50K
32559   58   Private  151910  ...             40   United-States  <=50K
32560   22   Private  201490  ...             20   United-States  <=50K

[32561 rows x 15 columns]

**การคำนวณค่าสถิติเชิงพรรณนาสำหรับอธิบายข้อมูล**

In [27]:
## Summarize data
# - value_counts()
# - nunique()
# - describe()
# - sum() 
# - count() 
# - median() 
# - quantile([0.25,0.75])
# - min() 
# - max() 
# - mean() 
# - var() 
# - std()
data['age'].quantile([0.25,0.75])

0.25    28.0
0.75    48.0
Name: age, dtype: float64

ปฏิบัติการข้อ 10) จงคำนวณคำสำหรับอธิบายลักษณะการกระจายของตัวแปร education.num

In [28]:
# Answer here
data['education.num'].describe()

count    32561.000000
mean        10.080679
std          2.572720
min          1.000000
25%          9.000000
50%         10.000000
75%         12.000000
max         16.000000
Name: education.num, dtype: float64

ปฏิบัติการข้อ 11) จงหาค่าที่เป็นไปได้ทั้งหมดของตัวแปร education

In [29]:
# Answer here
data.education.unique()

array(['HS-grad', 'Some-college', '7th-8th', '10th', 'Doctorate',
       'Prof-school', 'Bachelors', 'Masters', '11th', 'Assoc-acdm',
       'Assoc-voc', '1st-4th', '5th-6th', '12th', '9th', 'Preschool'],
      dtype=object)

**การวนเข้าถึงข้อมูลแต่ละแถว**

In [30]:
## Iterate over rows 
for index, row in data.iterrows():
    print(index, row['marital.status'])

เอาต์พุตของการสตรีมมีการตัดเหลือเพียง 5000 บรรทัดสุดท้าย
27561 Married-civ-spouse
27562 Married-civ-spouse
27563 Married-civ-spouse
27564 Never-married
27565 Never-married
27566 Married-civ-spouse
27567 Never-married
27568 Divorced
27569 Separated
27570 Married-civ-spouse
27571 Divorced
27572 Never-married
27573 Never-married
27574 Married-civ-spouse
27575 Never-married
27576 Separated
27577 Married-civ-spouse
27578 Never-married
27579 Never-married
27580 Married-civ-spouse
27581 Married-civ-spouse
27582 Married-civ-spouse
27583 Married-civ-spouse
27584 Married-civ-spouse
27585 Never-married
27586 Never-married
27587 Married-civ-spouse
27588 Married-civ-spouse
27589 Married-civ-spouse
27590 Divorced
27591 Married-civ-spouse
27592 Never-married
27593 Never-married
27594 Married-civ-spouse
27595 Married-civ-spouse
27596 Married-civ-spouse
27597 Married-civ-spouse
27598 Divorced
27599 Never-married
27600 Married-civ-spouse
27601 Married-spouse-absent
27602 Married-civ-spouse
27603 Divorced
27604 Divorced
27605 Never-married
27606 Separated
27607 Never-married
27608 Never-married
27609 Married-civ-spouse
27610 Never-married
27611 Married-civ-spouse
27612 Widowed
27613 Married-civ-spouse
27614 Separated
27615 Never-married
27616 Married-civ-spouse
27617 Never-married
27618 Divorced
27619 Never-married
27620 Divorced
27621 Divorced
27622 Never-married
27623 Never-married
27624 Married-civ-spouse
27625 Never-married
27626 Married-civ-spouse
27627 Married-civ-spouse
27628 Married-civ-spouse
27629 Divorced
27630 Married-civ-spouse
27631 Widowed
27632 Divorced
27633 Separated
27634 Married-civ-spouse
27635 Divorced
27636 Never-married
27637 Married-civ-spouse
27638 Married-civ-spouse
27639 Never-married
27640 Married-civ-spouse
27641 Married-civ-spouse
27642 Widowed
27643 Married-civ-spouse
27644 Married-civ-spouse
27645 Never-married
27646 Married-civ-spouse
27647 Married-civ-spouse
27648 Never-married
27649 Never-married
27650 Never-married
27651 Married-civ-spouse
27652 Married-civ-spouse
27653 Married-civ-spouse
27654 Never-married
27655 Never-married
27656 Never-married
27657 Divorced
27658 Never-married
27659 Never-married
27660 Never-married
27661 Married-civ-spouse
27662 Married-civ-spouse
27663 Separated
27664 Married-civ-spouse
27665 Married-civ-spouse
27666 Never-married
27667 Married-civ-spouse
27668 Married-civ-spouse
27669 Married-civ-spouse
27670 Married-civ-spouse
27671 Never-married
27672 Never-married
27673 Divorced
27674 Married-civ-spouse
27675 Married-civ-spouse
27676 Married-civ-spouse
27677 Married-civ-spouse
27678 Never-married
27679 Married-civ-spouse
27680 Married-civ-spouse
27681 Divorced
27682 Never-married
27683 Married-civ-spouse
27684 Divorced
27685 Divorced
27686 Married-civ-spouse
27687 Divorced
27688 Married-civ-spouse
27689 Married-civ-spouse
27690 Married-civ-spouse
27691 Widowed
27692 Never-married
27693 Never-married
27694 Divorced
27695 Divorced
27696 Never-married
27697 Married-civ-spouse
27698 Divorced
27699 Never-married
27700 Never-married
27701 Never-married
27702 Married-civ-spouse
27703 Married-civ-spouse
27704 Never-married
27705 Never-married
27706 Married-civ-spouse
27707 Divorced
27708 Married-civ-spouse
27709 Married-civ-spouse
27710 Never-married
27711 Divorced
27712 Married-civ-spouse
27713 Married-civ-spouse
27714 Never-married
27715 Married-civ-spouse
27716 Married-civ-spouse
27717 Never-married
27718 Never-married
27719 Never-married
27720 Married-civ-spouse
27721 Married-civ-spouse
27722 Never-married
27723 Widowed
27724 Separated
27725 Divorced
27726 Married-civ-spouse
27727 Married-civ-spouse
27728 Never-married
27729 Married-civ-spouse
27730 Divorced
27731 Married-civ-spouse
27732 Never-married
27733 Married-civ-spouse
27734 Never-married
27735 Never-married
27736 Never-married
27737 Married-civ-spouse
27738 Married-civ-spouse
27739 Married-civ-spouse
27740 Divorced
27741 Widowed
27742 Divorced
27743 Widowed
27744 Married-civ-spouse
27745 Divorced
27746 Married-civ-spouse
27747 Never-married
27748 Married-civ-spouse
27749 Never-married
27750 Separated
27751 Married-civ-spouse
27752 Never-married
27753 Never-married
27754 Married-AF-spouse
27755 Never-married
27756 Married-civ-spouse
27757 Never-married
27758 Married-civ-spouse
27759 Divorced
27760 Never-married
27761 Married-civ-spouse
27762 Married-civ-spouse
27763 Widowed
27764 Never-married
27765 Married-civ-spouse
27766 Married-civ-spouse
27767 Married-civ-spouse
27768 Never-married
27769 Never-married
27770 Married-civ-spouse
27771 Never-married
27772 Never-married
27773 Never-married
27774 Never-married
27775 Married-civ-spouse
27776 Married-civ-spouse
27777 Married-civ-spouse
27778 Never-married
27779 Divorced
27780 Widowed
27781 Divorced
27782 Never-married
27783 Divorced
27784 Never-married
27785 Married-civ-spouse
27786 Married-civ-spouse
27787 Never-married
27788 Married-civ-spouse
27789 Married-civ-spouse
27790 Never-married
27791 Married-civ-spouse
27792 Married-civ-spouse
27793 Married-civ-spouse
27794 Married-civ-spouse
27795 Married-civ-spouse
27796 Divorced
27797 Married-civ-spouse
27798 Never-married
27799 Married-civ-spouse
27800 Never-married
27801 Never-married
27802 Never-married
27803 Never-married
27804 Married-civ-spouse
27805 Married-civ-spouse
27806 Never-married
27807 Never-married
27808 Never-married
27809 Divorced
27810 Separated
27811 Never-married
27812 Married-civ-spouse
27813 Married-civ-spouse
27814 Married-civ-spouse
27815 Married-civ-spouse
27816 Married-civ-spouse
27817 Never-married
27818 Married-civ-spouse
27819 Married-civ-spouse
27820 Separated
27821 Never-married
27822 Married-civ-spouse
27823 Married-civ-spouse
27824 Never-married
27825 Married-civ-spouse
27826 Married-civ-spouse
27827 Divorced
27828 Never-married
27829 Married-civ-spouse
27830 Married-civ-spouse
27831 Divorced
27832 Married-civ-spouse
27833 Divorced
27834 Married-civ-spouse
27835 Never-married
27836 Married-civ-spouse
27837 Divorced
27838 Never-married
27839 Married-civ-spouse
27840 Married-civ-spouse
27841 Never-married
27842 Never-married
27843 Separated
27844 Divorced
27845 Divorced
27846 Never-married
27847 Divorced
27848 Divorced
27849 Never-married
27850 Married-civ-spouse
27851 Married-civ-spouse
27852 Married-civ-spouse
27853 Married-civ-spouse
27854 Separated
27855 Never-married
27856 Never-married
27857 Never-married
27858 Married-civ-spouse
27859 Married-civ-spouse
27860 Married-civ-spouse
27861 Widowed
27862 Divorced
27863 Divorced
27864 Never-married
27865 Married-civ-spouse
27866 Divorced
27867 Never-married
27868 Married-civ-spouse
27869 Never-married
27870 Never-married
27871 Divorced
27872 Married-civ-spouse
27873 Never-married
27874 Married-civ-spouse
27875 Separated
27876 Married-civ-spouse
27877 Separated
27878 Never-married
27879 Married-civ-spouse
27880 Divorced
27881 Divorced
27882 Separated
27883 Divorced
27884 Never-married
27885 Married-civ-spouse
27886 Married-civ-spouse
27887 Married-civ-spouse
27888 Divorced
27889 Never-married
27890 Never-married
27891 Never-married
27892 Never-married
27893 Divorced
27894 Never-married
27895 Married-civ-spouse
27896 Widowed
27897 Married-civ-spouse
27898 Never-married
27899 Never-married
27900 Never-married
27901 Married-civ-spouse
27902 Never-married
27903 Married-civ-spouse
27904 Divorced
27905 Separated
27906 Never-married
27907 Never-married
27908 Married-civ-spouse
27909 Never-married
27910 Never-married
27911 Married-civ-spouse
27912 Married-civ-spouse
27913 Married-civ-spouse
27914 Married-civ-spouse
27915 Never-married
27916 Never-married
27917 Married-civ-spouse
27918 Widowed
27919 Divorced
27920 Never-married
27921 Married-civ-spouse
27922 Married-AF-spouse
27923 Married-civ-spouse
27924 Never-married
27925 Never-married
27926 Never-married
27927 Married-civ-spouse
27928 Married-civ-spouse
27929 Married-civ-spouse
27930 Divorced
27931 Never-married
27932 Never-married
27933 Married-civ-spouse
27934 Never-married
27935 Married-civ-spouse
27936 Divorced
27937 Married-civ-spouse
27938 Married-civ-spouse
27939 Never-married
27940 Never-married
27941 Never-married
27942 Married-civ-spouse
27943 Never-married
27944 Never-married
27945 Married-civ-spouse
27946 Married-civ-spouse
27947 Widowed
27948 Married-civ-spouse
27949 Married-civ-spouse
27950 Never-married
27951 Never-married
27952 Never-married
27953 Married-civ-spouse
27954 Married-civ-spouse
27955 Never-married
27956 Separated
27957 Never-married
27958 Widowed
27959 Married-civ-spouse
27960 Married-civ-spouse
27961 Married-civ-spouse
27962 Married-civ-spouse
27963 Never-married
27964 Married-civ-spouse
27965 Never-married
27966 Married-civ-spouse
27967 Married-civ-spouse
27968 Separated
27969 Married-civ-spouse
27970 Never-married
27971 Never-married
27972 Married-civ-spouse
27973 Never-married
27974 Married-civ-spouse
27975 Married-civ-spouse
27976 Married-civ-spouse
27977 Married-civ-spouse
27978 Never-married
27979 Married-civ-spouse
27980 Divorced
27981 Married-civ-spouse
27982 Never-married
27983 Never-married
27984 Never-married
27985 Married-civ-spouse
27986 Divorced
27987 Married-civ-spouse
27988 Widowed
27989 Married-civ-spouse
27990 Never-married
27991 Divorced
27992 Married-civ-spouse
27993 Married-spouse-absent
27994 Divorced
27995 Married-civ-spouse
27996 Never-married
27997 Married-civ-spouse
27998 Married-civ-spouse
27999 Never-married
28000 Separated
28001 Never-married
28002 Never-married
28003 Married-civ-spouse
28004 Married-civ-spouse
28005 Married-civ-spouse
28006 Separated
28007 Never-married
28008 Never-married
28009 Divorced
28010 Married-civ-spouse
28011 Never-married
28012 Married-civ-spouse
28013 Married-civ-spouse
28014 Married-civ-spouse
28015 Married-civ-spouse
28016 Married-civ-spouse
28017 Never-married
28018 Married-civ-spouse
28019 Married-civ-spouse
28020 Divorced
28021 Married-spouse-absent
28022 Separated
28023 Never-married
28024 Married-civ-spouse
28025 Married-civ-spouse
28026 Married-civ-spouse
28027 Married-civ-spouse
28028 Separated
28029 Never-married
28030 Married-civ-spouse
28031 Divorced
28032 Never-married
28033 Married-civ-spouse
28034 Married-civ-spouse
28035 Divorced
28036 Never-married
28037 Married-civ-spouse
28038 Divorced
28039 Married-civ-spouse
28040 Never-married
28041 Never-married
28042 Married-civ-spouse
28043 Married-civ-spouse
28044 Married-civ-spouse
28045 Married-civ-spouse
28046 Never-married
28047 Married-civ-spouse
28048 Married-civ-spouse
28049 Never-married
28050 Divorced
28051 Married-civ-spouse
28052 Divorced
28053 Divorced
28054 Married-civ-spouse
28055 Never-married
28056 Married-civ-spouse
28057 Married-civ-spouse
28058 Never-married
28059 Never-married
28060 Married-civ-spouse
28061 Never-married
28062 Divorced
28063 Married-civ-spouse
28064 Never-married
28065 Married-spouse-absent
28066 Never-married
28067 Divorced
28068 Married-civ-spouse
28069 Married-civ-spouse
28070 Never-married
28071 Never-married
28072 Married-civ-spouse
28073 Never-married
28074 Never-married
28075 Never-married
28076 Married-civ-spouse
28077 Divorced
28078 Never-married
28079 Married-civ-spouse
28080 Never-married
28081 Never-married
28082 Widowed
28083 Never-married
28084 Never-married
28085 Widowed
28086 Married-civ-spouse
28087 Never-married
28088 Married-civ-spouse
28089 Divorced
28090 Never-married
28091 Never-married
28092 Never-married
28093 Divorced
28094 Never-married
28095 Married-civ-spouse
28096 Never-married
28097 Married-civ-spouse
28098 Never-married
28099 Married-civ-spouse
28100 Married-civ-spouse
28101 Never-married
28102 Divorced
28103 Widowed
28104 Married-civ-spouse
28105 Married-civ-spouse
28106 Married-civ-spouse
28107 Never-married
28108 Married-civ-spouse
28109 Married-civ-spouse
28110 Never-married
28111 Married-civ-spouse
28112 Never-married
28113 Married-civ-spouse
28114 Never-married
28115 Divorced
28116 Married-civ-spouse
28117 Married-civ-spouse
28118 Never-married
28119 Married-civ-spouse
28120 Married-civ-spouse
28121 Married-civ-spouse
28122 Never-married
28123 Married-civ-spouse
28124 Married-civ-spouse
28125 Never-married
28126 Never-married
28127 Divorced
28128 Widowed
28129 Married-civ-spouse
28130 Divorced
28131 Never-married
28132 Never-married
28133 Married-civ-spouse
28134 Divorced
28135 Married-civ-spouse
28136 Married-civ-spouse
28137 Divorced
28138 Married-civ-spouse
28139 Married-civ-spouse
28140 Divorced
28141 Married-civ-spouse
28142 Separated
28143 Divorced
28144 Never-married
28145 Married-civ-spouse
28146 Married-civ-spouse
28147 Never-married
28148 Married-civ-spouse
28149 Never-married
28150 Married-civ-spouse
28151 Married-civ-spouse
28152 Married-civ-spouse
28153 Married-civ-spouse
28154 Married-civ-spouse
28155 Never-married
28156 Married-civ-spouse
28157 Married-civ-spouse
28158 Never-married
28159 Never-married
28160 Never-married
28161 Divorced
28162 Married-civ-spouse
28163 Married-civ-spouse
28164 Never-married
28165 Married-civ-spouse
28166 Married-civ-spouse
28167 Never-married
28168 Divorced
28169 Never-married
28170 Married-civ-spouse
28171 Widowed
28172 Never-married
28173 Divorced
28174 Never-married
28175 Married-civ-spouse
28176 Married-civ-spouse
28177 Married-civ-spouse
28178 Separated
28179 Never-married
28180 Divorced
28181 Separated
28182 Never-married
28183 Married-civ-spouse
28184 Never-married
28185 Never-married
28186 Married-civ-spouse
28187 Never-married
28188 Never-married
28189 Married-civ-spouse
28190 Married-civ-spouse
28191 Never-married
28192 Married-civ-spouse
28193 Divorced
28194 Married-civ-spouse
28195 Married-civ-spouse
28196 Never-married
28197 Never-married
28198 Married-civ-spouse
28199 Married-civ-spouse
28200 Married-spouse-absent
28201 Never-married
28202 Never-married
28203 Never-married
28204 Married-civ-spouse
28205 Married-civ-spouse
28206 Never-married
28207 Married-civ-spouse
28208 Married-civ-spouse
28209 Never-married
28210 Married-civ-spouse
28211 Never-married
28212 Never-married
28213 Divorced
28214 Never-married
28215 Divorced
28216 Divorced
28217 Separated
28218 Married-civ-spouse
28219 Separated
28220 Married-civ-spouse
28221 Married-civ-spouse
28222 Never-married
28223 Divorced
28224 Never-married
28225 Married-civ-spouse
28226 Married-civ-spouse
28227 Never-married
28228 Married-civ-spouse
28229 Widowed
28230 Separated
28231 Married-civ-spouse
28232 Widowed
28233 Never-married
28234 Never-married
28235 Married-civ-spouse
28236 Divorced
28237 Separated
28238 Married-civ-spouse
28239 Married-civ-spouse
28240 Married-civ-spouse
28241 Never-married
28242 Married-civ-spouse
28243 Never-married
28244 Never-married
28245 Married-civ-spouse
28246 Married-civ-spouse
28247 Married-civ-spouse
28248 Married-civ-spouse
28249 Married-civ-spouse
28250 Never-married
28251 Separated
28252 Divorced
28253 Married-civ-spouse
28254 Divorced
28255 Widowed
28256 Married-civ-spouse
28257 Married-civ-spouse
28258 Married-civ-spouse
28259 Married-civ-spouse
28260 Widowed
28261 Married-civ-spouse
28262 Married-civ-spouse
28263 Married-civ-spouse
28264 Married-civ-spouse
28265 Married-civ-spouse
28266 Divorced
28267 Never-married
28268 Married-civ-spouse
28269 Never-married
28270 Never-married
28271 Married-civ-spouse
28272 Never-married
28273 Divorced
28274 Divorced
28275 Married-civ-spouse
28276 Divorced
28277 Married-civ-spouse
28278 Married-civ-spouse
28279 Never-married
28280 Married-civ-spouse
28281 Never-married
28282 Married-civ-spouse
28283 Married-civ-spouse
28284 Married-civ-spouse
28285 Married-civ-spouse
28286 Married-civ-spouse
28287 Married-civ-spouse
28288 Married-civ-spouse
28289 Married-civ-spouse
28290 Married-civ-spouse
28291 Married-civ-spouse
28292 Married-civ-spouse
28293 Never-married
28294 Married-civ-spouse
28295 Never-married
28296 Separated
28297 Divorced
28298 Married-spouse-absent
28299 Never-married
28300 Married-civ-spouse
28301 Never-married
28302 Married-civ-spouse
28303 Never-married
28304 Married-civ-spouse
28305 Married-civ-spouse
28306 Never-married
28307 Married-civ-spouse
28308 Never-married
28309 Never-married
28310 Never-married
28311 Married-civ-spouse
28312 Widowed
28313 Married-civ-spouse
28314 Never-married
28315 Married-civ-spouse
28316 Never-married
28317 Married-civ-spouse
28318 Never-married
28319 Never-married
28320 Never-married
28321 Widowed
28322 Married-civ-spouse
28323 Never-married
28324 Never-married
28325 Married-civ-spouse
28326 Married-spouse-absent
28327 Widowed
28328 Married-civ-spouse
28329 Never-married
28330 Married-civ-spouse
28331 Never-married
28332 Never-married
28333 Married-civ-spouse
28334 Divorced
28335 Never-married
28336 Never-married
28337 Never-married
28338 Widowed
28339 Never-married
28340 Married-civ-spouse
28341 Never-married
28342 Married-civ-spouse
28343 Never-married
28344 Married-civ-spouse
28345 Married-civ-spouse
28346 Married-civ-spouse
28347 Divorced
28348 Never-married
28349 Never-married
28350 Never-married
28351 Married-civ-spouse
28352 Married-civ-spouse
28353 Never-married
28354 Never-married
28355 Divorced
28356 Married-civ-spouse
28357 Married-civ-spouse
28358 Married-civ-spouse
28359 Married-civ-spouse
28360 Divorced
28361 Widowed
28362 Never-married
28363 Never-married
28364 Divorced
28365 Never-married
28366 Married-civ-spouse
28367 Married-civ-spouse
28368 Married-civ-spouse
28369 Married-civ-spouse
28370 Married-civ-spouse
28371 Divorced
28372 Never-married
28373 Never-married
28374 Married-civ-spouse
28375 Married-civ-spouse
28376 Divorced
28377 Married-civ-spouse
28378 Married-civ-spouse
28379 Never-married
28380 Married-civ-spouse
28381 Married-civ-spouse
28382 Married-civ-spouse
28383 Never-married
28384 Never-married
28385 Married-civ-spouse
28386 Married-civ-spouse
28387 Never-married
28388 Divorced
28389 Divorced
28390 Never-married
28391 Married-civ-spouse
28392 Married-civ-spouse
28393 Never-married
28394 Married-civ-spouse
28395 Married-civ-spouse
28396 Never-married
28397 Married-civ-spouse
28398 Married-civ-spouse
28399 Never-married
28400 Never-married
28401 Never-married
28402 Married-civ-spouse
28403 Divorced
28404 Never-married
28405 Separated
28406 Married-civ-spouse
28407 Married-civ-spouse
28408 Divorced
28409 Never-married
28410 Married-civ-spouse
28411 Married-civ-spouse
28412 Divorced
28413 Married-civ-spouse
28414 Married-civ-spouse
28415 Married-civ-spouse
28416 Never-married
28417 Married-civ-spouse
28418 Never-married
28419 Separated
28420 Never-married
28421 Married-civ-spouse
28422 Married-civ-spouse
28423 Widowed
28424 Divorced
28425 Separated
28426 Never-married
28427 Divorced
28428 Never-married
28429 Married-civ-spouse
28430 Divorced
28431 Married-civ-spouse
28432 Divorced
28433 Never-married
28434 Never-married
28435 Married-civ-spouse
28436 Married-civ-spouse
28437 Married-civ-spouse
28438 Never-married
28439 Never-married
28440 Never-married
28441 Married-civ-spouse
28442 Never-married
28443 Never-married
28444 Married-civ-spouse
28445 Widowed
28446 Married-civ-spouse
28447 Never-married
28448 Divorced
28449 Never-married
28450 Never-married
28451 Married-spouse-absent
28452 Divorced
28453 Never-married
28454 Married-civ-spouse
28455 Never-married
28456 Never-married
28457 Never-married
28458 Never-married
28459 Married-civ-spouse
28460 Married-civ-spouse
28461 Divorced
28462 Married-civ-spouse
28463 Never-married
28464 Married-civ-spouse
28465 Never-married
28466 Never-married
28467 Never-married
28468 Never-married
28469 Never-married
28470 Never-married
28471 Never-married
28472 Never-married
28473 Never-married
28474 Separated
28475 Married-civ-spouse
28476 Divorced
28477 Divorced
28478 Married-civ-spouse
28479 Married-civ-spouse
28480 Married-civ-spouse
28481 Married-civ-spouse
28482 Married-civ-spouse
28483 Married-civ-spouse
28484 Widowed
28485 Married-civ-spouse
28486 Never-married
28487 Never-married
28488 Married-civ-spouse
28489 Never-married
28490 Married-civ-spouse
28491 Married-civ-spouse
28492 Married-civ-spouse
28493 Never-married
28494 Divorced
28495 Married-civ-spouse
28496 Divorced

ปฏิบัติการข้อ 12) จงคำนวณค่าเฉลี่ยอายุของข้อมูลทั้งหมดโดย*ไม่ใช้*ฟังก์ชัน mean หรือ average

In [31]:
# Answer here
sum = 0
for a in data.age: sum += a
sum / len(data)

38.5804182918215

ปฏิบัติการข้อ 13) จงคำนวณผลกำไร (profit) จากการลงทุน (Capital)  และจัดเก็บเป็นอีกตัวแปรหนึ่ง ชื่อ profit ของข้อมูลแต่ละคน แล้วคำนวณค่าเฉลี่ยผลกำไร

In [32]:
# Answer here
datax = data.copy()
datax['profit'] = datax['capital.gain'] - datax['capital.loss']
datax.profit.mean()

990.3450139737723