<a href="https://colab.research.google.com/github/tackulus/204426/blob/main/Lab_06_610510531.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Workshop 6: Clean Missing Data**
**คำสั่ง**

1.   ศึกษาวิธีการเติมข้อมูลสูญหายเบื้องต้นต่อไปนี้
2.   ทำการเติมข้อมูลสูญหายทุกตัวแปรด้วยวิธีที่เหมาะสม 
3.   ตั้งชื่อไฟล์ python notebook นี้ในรูปแบบ Lab_06_XXXXXXXXX.ipynb โดย XXXXXXXXX คือ รหัสนักศึกษา
4.   ทำการดาวน์โหลดและส่งไฟล์ Lab_06_XXXXXXXXX.ipynb ที่เว็บไซต์ http://hw.cs.science.cmu.ac.th

In [ ]:
!git clone https://github.com/tackulus/204426.git

Cloning into '204426'...
remote: Enumerating objects: 74, done.
remote: Counting objects: 100% (74/74), done.
remote: Compressing objects: 100% (71/71), done.
remote: Total 74 (delta 28), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (74/74), done.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nfl_data = pd.read_csv("/content/204426/dataset/NFL.csv")
nfl_data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        Date      GameID  Drive  qtr  ...       WPA    airWPA    yacWPA  Season
0  9/10/2009  2009091000      1    1  ...  0.060758       NaN       NaN    2009
1  9/10/2009  2009091000      1    1  ...  0.004655 -0.032244  0.036899    2009
2  9/10/2009  2009091000      1    1  ... -0.040295       NaN       NaN    2009
3  9/10/2009  2009091000      1    1  ... -0.049576  0.106663 -0.156239    2009
4  9/10/2009  2009091000      1    1  ...  0.097712       NaN       NaN    2009

[5 rows x 102 columns]

**Check missing data**

In [ ]:
# get the number of missing data points per column
missing_values_count = nfl_data.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[0:10]

Date               0
GameID             0
Drive              0
qtr                0
down            6409
time              29
TimeUnder          0
TimeSecs          29
PlayTimeDiff      58
SideofField       55
dtype: int64

In [ ]:
# how many total missing values do we have?
total_cells = np.product(nfl_data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

24.96725003277338

**Drop missing values**

In [ ]:
# remove all the rows that contain a missing value
nfl_data.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [ ]:
# remove all the rows that contain a missing value in specific columns
nfl_data.dropna(subset=['down'])

             Date      GameID  Drive  qtr  ...       WPA    airWPA    yacWPA  Season
1       9/10/2009  2009091000      1    1  ...  0.004655 -0.032244  0.036899    2009
2       9/10/2009  2009091000      1    1  ... -0.040295       NaN       NaN    2009
3       9/10/2009  2009091000      1    1  ... -0.049576  0.106663 -0.156239    2009
4       9/10/2009  2009091000      1    1  ...  0.097712       NaN       NaN    2009
5       9/10/2009  2009091000      2    1  ... -0.019524       NaN       NaN    2009
...           ...         ...    ...  ...  ...       ...       ...       ...     ...
41875  12/28/2009  2009122800     26    5  ... -0.157609  0.061135 -0.218744    2009
41876  12/28/2009  2009122800     26    5  ...  0.178457       NaN       NaN    2009
41877  12/28/2009  2009122800     27    5  ... -0.070479       NaN       NaN    2009
41878  12/28/2009  2009122800     27    5  ... -0.170316  0.064783 -0.235099    2009
41879  12/28/2009  2009122800     28    5  ...       NaN -0.093898       NaN    2009

[35471 rows x 102 columns]

In [ ]:
# remove all columns with at least one missing value
nfl_data.dropna(axis=1)

             Date      GameID  Drive  ...  ExPoint_Prob  TwoPoint_Prob  Season
0       9/10/2009  2009091000      1  ...           0.0            0.0    2009
1       9/10/2009  2009091000      1  ...           0.0            0.0    2009
2       9/10/2009  2009091000      1  ...           0.0            0.0    2009
3       9/10/2009  2009091000      1  ...           0.0            0.0    2009
4       9/10/2009  2009091000      1  ...           0.0            0.0    2009
...           ...         ...    ...  ...           ...            ...     ...
41875  12/28/2009  2009122800     26  ...           0.0            0.0    2009
41876  12/28/2009  2009122800     26  ...           0.0            0.0    2009
41877  12/28/2009  2009122800     27  ...           0.0            0.0    2009
41878  12/28/2009  2009122800     27  ...           0.0            0.0    2009
41879  12/28/2009  2009122800     28  ...           0.0            0.0    2009

[41880 rows x 42 columns]

**Impute missing data**

In [ ]:
# fill all missing with a value
results = nfl_data.fillna(0)
results.isnull().sum()

Date        0
GameID      0
Drive       0
qtr         0
down        0
           ..
Win_Prob    0
WPA         0
airWPA      0
yacWPA      0
Season      0
Length: 102, dtype: int64

In [ ]:
# fill missing values in a specific column with a value
results = nfl_data
results['down'].fillna(0, inplace = True)
results.isnull().sum()

Date            0
GameID          0
Drive           0
qtr             0
down            0
            ...
Win_Prob     2767
WPA           643
airWPA      25919
yacWPA      25943
Season          0
Length: 102, dtype: int64

In [ ]:
# fill missing values in a specific column with mean
results = nfl_data
results['down'].fillna(results['down'].mean(), inplace = True)
results.isnull().sum()

Date            0
GameID          0
Drive           0
qtr             0
down            0
            ...
Win_Prob     2767
WPA           643
airWPA      25919
yacWPA      25943
Season          0
Length: 102, dtype: int64

ปฏิบัติการข้อ 1) ให้นักศึกษาเติมข้อมูลสูญหายของตัวแปรทั้งหมดที่มีข้อมูลสูญหาย จะใช้วิธีการใดก็ได้ ตามความเหมาะสม พร้อมเขียนอธิบาย

In [ ]:
# Answer here!