<a href="https://colab.research.google.com/github/tackulus/204426/blob/main/Lab_03_610510531.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Workshop 3: Data Transformation**
**คำสั่ง** 

1.   ศึกษาวิธีการแปลงข้อมูลเบื้องต้น สำหรับชุดข้อมูล scooter ต่อไปนี้
2.   ทำการแปลงข้อมูล  ชุดข้อมูล scooter ต่อจากตัวอย่างให้อยู่ในรูปแบบที่สามารถนำไปวิเคราะห์ข้อมูลต่อได้มากที่สุด โดยให้นักศึกษาเขียนอธิบายเหตุผลของการเลือกรูปแบบ ชุดข้อมูล scooter ที่เป็นผลลัพธ์สุดท้าย
3.   ตั้งชื่อไฟล์ python notebook นี้ในรูปแบบ Lab_03_XXXXXXXXX.ipynb โดย XXXXXXXXX คือ รหัสนักศึกษา
4.   ทำการดาวน์โหลดและส่งไฟล์ Lab_03_XXXXXXXXX.ipynb ที่เว็บไซต์ http://hw.cs.science.cmu.ac.th

In [1]:
import pandas as pd
import numpy as np

In [2]:
%%capture
!wget -O scooter.csv \
    https://raw.githubusercontent.com/tackulus/204426/main/dataset/scooter.csv

In [3]:
data=pd.read_csv('scooter.csv')
data.head()

  month  trip_id  ...   user_id  trip_ledger_id
0   May  1613335  ...   8417864         1488546
1   May  1613639  ...   8417864         1488838
2   May  1613708  ...   8417864         1488851
3   May  1613867  ...   8417864         1489064
4   May  1636714  ...  35436274         1511212

[5 rows x 11 columns]

**Exploring the data**

In [4]:
# look at the columns
data.columns

Index(['month', 'trip_id', 'region_id', 'vehicle_id', 'started_at', 'ended_at',
       'DURATION', 'start_location_name', 'end_location_name', 'user_id',
       'trip_ledger_id'],
      dtype='object')

In [5]:
# print datatype
data.dtypes

month                  object
trip_id                 int64
region_id               int64
vehicle_id              int64
started_at             object
ended_at               object
DURATION               object
start_location_name    object
end_location_name      object
user_id                 int64
trip_ledger_id          int64
dtype: object

In [6]:
# sampling data to show
data.sample(5)

      month  trip_id  ...   user_id  trip_ledger_id
18772  June  2002664  ...  36159772         1867253
21196  June  2050322  ...  39626730         1914264
14905  June  1924503  ...  41178900         1790511
32195  July  2405436  ...  42520997         2265047
7065   June  1789082  ...  38250398         1659275

[5 rows x 11 columns]

In [7]:
# Analyzing the data
# describe distribution of each attribute
data.describe()

            trip_id  region_id    vehicle_id       user_id  trip_ledger_id
count  3.422600e+04    34226.0  3.422600e+04  3.422600e+04    3.422600e+04
mean   2.004438e+06      202.0  5.589507e+06  3.875420e+07    1.869549e+06
std    2.300476e+05        0.0  2.627164e+06  4.275441e+06    2.252639e+05
min    1.613335e+06      202.0  1.034847e+06  1.080200e+04    1.488546e+06
25%    1.813521e+06      202.0  3.260435e+06  3.665710e+07    1.683023e+06
50%    1.962520e+06      202.0  5.617097e+06  3.880750e+07    1.827796e+06
75%    2.182324e+06      202.0  8.012871e+06  4.222774e+07    2.042524e+06
max    2.482335e+06      202.0  9.984848e+06  4.258732e+07    2.342161e+06

In [8]:
# describe more about an attribute
data['start_location_name'].describe()

count                                               34220
unique                                               2972
top       1898 Mountain Rd NW, Albuquerque, NM 87104, USA
freq                                                 1210
Name: start_location_name, dtype: object

In [10]:
# find out how many missing values
data.isnull().sum()

month                     0
trip_id                   0
region_id                 0
vehicle_id                0
started_at                0
ended_at                  0
DURATION               2308
start_location_name       6
end_location_name      2070
user_id                   0
trip_ledger_id            0
dtype: int64

**Creating and modifying columns**

In [11]:
#made the month column all capitals
data['month']=data['month'].str.upper()
data.head()

  month  trip_id  ...   user_id  trip_ledger_id
0   MAY  1613335  ...   8417864         1488546
1   MAY  1613639  ...   8417864         1488838
2   MAY  1613708  ...   8417864         1488851
3   MAY  1613867  ...   8417864         1489064
4   MAY  1636714  ...  35436274         1511212

[5 rows x 11 columns]

In [12]:
#create a new column and assign the value to every row
for idx,row in data.iterrows():
  if row['trip_id']==1613335:
    data.at[idx,'trip_id_161335']='Yes'
  else:
    data.at[idx,'trip_id_161335']='No'
data.head()

  month  trip_id  region_id  ...   user_id trip_ledger_id trip_id_161335
0   MAY  1613335        202  ...   8417864        1488546            Yes
1   MAY  1613639        202  ...   8417864        1488838             No
2   MAY  1613708        202  ...   8417864        1488851             No
3   MAY  1613867        202  ...   8417864        1489064             No
4   MAY  1636714        202  ...  35436274        1511212             No

[5 rows x 12 columns]

In [13]:
data.loc[data['trip_id']==1613335,'trip_id_161335']='1613335'
data.head()

  month  trip_id  region_id  ...   user_id trip_ledger_id trip_id_161335
0   MAY  1613335        202  ...   8417864        1488546        1613335
1   MAY  1613639        202  ...   8417864        1488838             No
2   MAY  1613708        202  ...   8417864        1488851             No
3   MAY  1613867        202  ...   8417864        1489064             No
4   MAY  1636714        202  ...  35436274        1511212             No

[5 rows x 12 columns]

In [14]:
# split the attribute started_at to started_date and started_time
new = data['started_at'].str.split(expand=True)
data['started_date'] = new[0]
data['started_time'] = new[1]
data.head()

  month  trip_id  region_id  ...  trip_id_161335 started_date started_time
0   MAY  1613335        202  ...         1613335    5/21/2019        18:33
1   MAY  1613639        202  ...              No    5/21/2019        19:07
2   MAY  1613708        202  ...              No    5/21/2019        19:13
3   MAY  1613867        202  ...              No    5/21/2019        19:29
4   MAY  1636714        202  ...              No    5/24/2019        13:38

[5 rows x 14 columns]

In [15]:
# change datatype of started_at to date-time object
data['started_at']=pd.to_datetime(data['started_at'],format='%m/%d/%Y %H:%M')
data.dtypes

month                          object
trip_id                         int64
region_id                       int64
vehicle_id                      int64
started_at             datetime64[ns]
ended_at                       object
DURATION                       object
start_location_name            object
end_location_name              object
user_id                         int64
trip_ledger_id                  int64
trip_id_161335                 object
started_date                   object
started_time                   object
dtype: object

In [16]:
# change datatype of DURATION to timedelta object
data['DURATION']=pd.to_timedelta(data['DURATION'])
data.dtypes

month                           object
trip_id                          int64
region_id                        int64
vehicle_id                       int64
started_at              datetime64[ns]
ended_at                        object
DURATION               timedelta64[ns]
start_location_name             object
end_location_name               object
user_id                          int64
trip_ledger_id                   int64
trip_id_161335                  object
started_date                    object
started_time                    object
dtype: object

In [17]:
# change datatype of trip_id to string
data = data.astype({'trip_id': 'string'})
data.dtypes

month                           object
trip_id                         string
region_id                        int64
vehicle_id                       int64
started_at              datetime64[ns]
ended_at                        object
DURATION               timedelta64[ns]
start_location_name             object
end_location_name               object
user_id                          int64
trip_ledger_id                   int64
trip_id_161335                  object
started_date                    object
started_time                    object
dtype: object

In [18]:
# split street from end_location_name
new = data['end_location_name'].str.split(pat=',',n=1,expand=True)
data['end_location_street'] = new[0]
data.head()

  month  trip_id  ...  started_time                   end_location_street
0   MAY  1613335  ...         18:33                      1899 Roma Ave NE
1   MAY  1613639  ...         19:07                   1111 Stanford Dr NE
2   MAY  1613708  ...         19:13  1 Domenici Center en Domenici Center
3   MAY  1613867  ...         19:29                725 University Blvd SE
4   MAY  1636714  ...         13:38                         401 2nd St NW

[5 rows x 15 columns]

**โจทย์ปฏิบัติการ** \\
ทำการแปลงข้อมูล ชุดข้อมูล scooter ต่อจากตัวอย่างให้อยู่ในรูปแบบที่สามารถนำไปวิเคราะห์ข้อมูลต่อได้ง่ายที่สุด โดยให้นักศึกษาเขียนอธิบายเหตุผลของการเลือกรูปแบบ ชุดข้อมูล scooter ที่เป็นผลลัพธ์สุดท้าย

In [19]:
# Start your code  here!
df = data.copy()

field_str = ('month', 
             'trip_id', 
             'region_id', 
             'vehicle_id', 
             'start_location_name', 
             'end_location_name', 
             'user_id', 
             'trip_ledger_id')

field_dt64 = ('started_at', 'ended_at')
field_td64 = ('DURATION',)

df = df.astype({col: 'string' for col in field_str})
df = df.astype({col: 'datetime64[ns]' for col in field_dt64})
df = df.astype({col: 'timedelta64[ns]' for col in field_td64})
df.dtypes

month                           string
trip_id                         string
region_id                       string
vehicle_id                      string
started_at              datetime64[ns]
ended_at                datetime64[ns]
DURATION               timedelta64[ns]
start_location_name             string
end_location_name               string
user_id                         string
trip_ledger_id                  string
trip_id_161335                  object
started_date                    object
started_time                    object
end_location_street             object
dtype: object

In [20]:
df

      month  trip_id  ... started_time                   end_location_street
0       MAY  1613335  ...        18:33                      1899 Roma Ave NE
1       MAY  1613639  ...        19:07                   1111 Stanford Dr NE
2       MAY  1613708  ...        19:13  1 Domenici Center en Domenici Center
3       MAY  1613867  ...        19:29                725 University Blvd SE
4       MAY  1636714  ...        13:38                         401 2nd St NW
...     ...      ...  ...          ...                                   ...
34221  JULY  2482235  ...        23:51                        1418 4th St NW
34222  JULY  2482254  ...        23:52                  302 San Felipe St NW
34223  JULY  2482257  ...        23:52                   3339 Central Ave NE
34224  JULY  2482275  ...        23:53                        1413 4th St SW
34225  JULY  2482335  ...        23:55                   3339 Central Ave NE

[34226 rows x 15 columns]