<a href="https://colab.research.google.com/github/tackulus/204426/blob/main/Quiz_01_610510531.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ข้อสอบส่วนปฏิบัติการ (5 คะแนน)
**ให้นักศึกษาเขียนโปรแกรมภาษาไพทอน โดยนำไฟล์ชุดข้อมูลทั้ง 2 ชุด ที่แนบมาด้วยนี้ ไปใช้ในการทำข้อสอบปฏิบัติการต่อไปนี้**

In [ ]:
import numpy as np
import pandas as pd

customer = pd.read_csv('customer_data.csv')
transaction = pd.read_csv('transaction_data.csv')
transaction.replace(-999, np.nan, inplace=True)

In [ ]:
customer.head()

  cust_id   age wealth_segment process_date
0       e  44.0           <NA>   2020-01-05
1       m  30.0         medium   2020-01-05
2       n  29.0           poor   2020-01-05
3       s  64.0           rich   2020-01-05
4       v   NaN         medium   2020-01-05

In [ ]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cust_id         10 non-null     string
 1   age             9 non-null      float64
 2   wealth_segment  9 non-null      string
 3   process_date    10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), string(2)
memory usage: 448.0 bytes

In [ ]:
transaction.head()

  txn_id cust_id  price process_date
0      1       v   89.0   2021-01-05
1      2       y   60.0   2021-01-05
2      3       m   55.0   2021-01-05
3      4       s    NaN   2021-01-05
4      5       z   50.0   2021-01-05

In [ ]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   txn_id        10 non-null     string
 1   cust_id       10 non-null     string
 2   price         8 non-null      float64
 3   process_date  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), string(2)
memory usage: 448.0 bytes

> **1.	จงทำการเปลี่ยนชนิดข้อมูลของตัวแปรในชุดข้อมูลทั้ง 2 ชุดข้อมูลให้เหมาะสม**

In [ ]:
types = {
    "cust_id": "string",
    "wealth_segment": "string",
    "process_date": "datetime64[ns]"
}

customer = customer.astype(types)
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cust_id         10 non-null     string
 1   age             9 non-null      float64
 2   wealth_segment  9 non-null      string
 3   process_date    10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), string(2)
memory usage: 448.0 bytes

In [ ]:
types = {
    "txn_id": "string",
    "cust_id": "string",
    "process_date": "datetime64[ns]"
}

transaction = transaction.astype(types)
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   txn_id        10 non-null     string
 1   cust_id       10 non-null     string
 2   price         8 non-null      float64
 3   process_date  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), string(2)
memory usage: 448.0 bytes

> **2.	จงเขียนโปรแกรมเพื่อคำนวณค่าตัวชี้วัดคุณภาพของชุดข้อมูล (ตามที่ได้นิยามในข้อ 2 ในข้อสอบส่วนบรรยาย) ของทั้ง 2 ชุดข้อมูล**

In [ ]:
def completeness_ratio(df):
    return 1 - df.isna().sum().sum() / (df.shape[0] * df.shape[1])

def uniqueness_ratio(head):
    return len(head.drop_duplicates()) / len(head)

def age_consistency(age):
    return (age >= 0).sum() / len(age)

In [ ]:
completeness_ratio(customer)

0.95

In [ ]:
completeness_ratio(transaction)

0.95

In [ ]:
uniqueness_ratio(customer["cust_id"])

0.8

In [ ]:
uniqueness_ratio(transaction["txn_id"])

1.0

In [ ]:
age_consistency(customer.age)

0.8

> **3.	จงทำรวมชุดข้อมูล Customer Data และ Transaction Data เข้าด้วยกัน โดยใช้ชุดข้อมูล Transaction Data เป็นข้อมูลตั้งต้น  ทำการเพิ่มเติมข้อมูลลูกค้าจาก ชุดข้อมูล Customer Data ในชุดข้อมูล Transaction Data ให้สมบูรณ์แล้ว ตารางข้อมูลใหม่ที่ได้ต้องประกอบด้วยตัวแปร ต่อไปนี้**



>> ```
a.	txn_id
b.	cust_id
c.	price
d.	process_date
e.	age
f.	wealth_segment
g.	customer_update_date (มาจากตัวแปร process_date จากตารางข้อมูล Customer Data)
```

In [ ]:
customer_rename = customer.rename(columns={"process_date": "customer_update_date "})
new = transaction.merge(customer_rename, on="cust_id", how="left")
new

   txn_id cust_id  price  ...   age  wealth_segment customer_update_date
0       1       v   89.0  ...   NaN          medium            2020-01-05
1       2       y   60.0  ...  41.0            rich            2020-01-05
2       3       m   55.0  ...  30.0          medium            2020-01-05
3       4       s    NaN  ...  64.0            rich            2020-01-05
4       4       s    NaN  ... -12.0            rich            2020-01-05
5       5       z   50.0  ...  43.0            rich            2020-01-05
6       5       z   50.0  ...  54.0            rich            2021-01-05
7       6       s   41.0  ...  64.0            rich            2020-01-05
8       6       s   41.0  ... -12.0            rich            2020-01-05
9       7       s    NaN  ...  64.0            rich            2020-01-05
10      7       s    NaN  ... -12.0            rich            2020-01-05
11      8       e   23.0  ...  44.0            <NA>            2020-01-05
12      9       n   12.0  ...  29.0            poor            2020-01-05
13     10       x   87.0  ...  40.0            poor            2020-01-05

[14 rows x 7 columns]

> **4.	จงเขียนโปรแกรมเพื่อคำนวณค่าตัวชี้วัดคุณภาพ (ตามที่ได้นิยามในข้อ 2 ในข้อสอบส่วนบรรยาย) ของชุดข้อมูลของตารางข้อมูลใหม่ในข้อ 3**

In [ ]:
completeness_ratio(new)

0.9387755102040817

In [ ]:
uniqueness_ratio(new["txn_id"])

0.7142857142857143

In [ ]:
age_consistency(new.age)

0.7142857142857143